<h2><%= current_user.first_name %>'s Portal</h2>
<h1>Doctors</h1>
<%= link_to 'Add Doctor', new_doctor_path %>
<hr />
<h2><%= @doctors.length <= 0 ? "No Doctors appointment" : "" %></h2>
<ul>
  <% @doctors.each do |d| %>
    <li>
    <%= link_to d.name, d %>
    </li>
  <%end%>
</ul>